*{
    scroll-behavior: smooth;
    transition: all 0.5s ease-in-out;
}
html{
  scrollbar-width: none;
}

p{
  font-size: 0.5cm;
}

h1{
  font-size: 1cm;
}

h2{
  font-size: 0.85cm;
}

h3{
  font-size: 0.7cm;
}

h4{
  color: #092635;
}
body {
  background: linear-gradient(45deg, #b3d2d6, #74e2d5);
  background-repeat: no-repeat;
  /* background-color:#092635; */
  /* font-family: Arial, sans-serif;  #9EC8B9*/
  font-family: playfair display;
  margin: 0;
  padding: 0;
}

/* .home{
  background-image: url("chemimage.jpg");
  background: rgba(255, 255, 255, 0.8);
  color:white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
} */

/* .about{
  margin-top: 100vh;
} */

.load-holder{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #b3d2d6, #74e2d5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#loader {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}


header {
  /* background: linear-gradient(to bottom, #8871f9, #4392f9); */
  background: linear-gradient(45deg, #0b2d46, #074445);
  color: #fff;
  padding: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

header h1{
  font-size: 2.0rem;
}

.hlogo{
  width:3%;
  height: 3%;
}
@media only screen and (max-width: 600px){
  .hlogo{
    width:13%;
    height: 13%;
  }
}
.headlogo{
  z-index:2;
  float:left;
  border-radius:100%; 
  border:2px solid #000a0f; 
  box-shadow:0 0 10px #000a0f;
}

.headpro{
  z-index:2;
  float:right;
  border-radius:100%; 
  border:2px solid #000a0f; 
  box-shadow:0 0 10px #000a0f;
}
.header img{
  width:3%;
  height:3%;
}
@media only screen and (max-width: 600px){
  .header img{
    width:10%;
    height: 10%;
  }
}

.upropic{
  border-radius: 50%; 
  border: 2px solid #000a0f;
  box-shadow:0 0 10px #000a0f;
}

nav{
  /* background:#4392f9; */
  color: #fffafa;
  background: linear-gradient(45deg, #0b2d46, #074445);
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav .active{
  background-color: #FEFAE0;
  color:#000a0f;
  border-radius: 5px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li{
  display: inline;
  margin-right: 10px;
}
nav ul li a {
  text-decoration: none;
  padding: 5px;
  color:white;
  font-size: 99%;
  font-weight:520;
}
nav ul li a:hover{
  /* background-color: #5635f8; */
  background-color: #dde6ed;
  color:#000a0f;
  font-size:100%;
  border-radius: 5px;
}

/* Side bar */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.winback{
  float:left;
  border-radius: 100%;
  border: none;
  background-color: transparent;
  padding: 0px;
}

h1 {
  margin: 0;
}

main {
  margin: 30px;
}

.grid-view{
  justify-content: center;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  gap: 15px;
  margin-left: 2%;
}

.content{
  /* background-color: #4392f9; */
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  background: #4f9192;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 0;
}

.card{
  /* background-color: #92bef7; */
  color: white;
  background: linear-gradient(45deg, #b3d2d6, #74e2d5);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(255, 255, 255, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  width:80%;
}
.card:hover{
  box-shadow: 0 2px 4px rgb(255, 255, 255, 0.3);
}
.card h3{
  color: #001411;
  margin-top: 0;
}
.card p{
  color: #313030;
}
.card a{
  float: left;
  /* margin-bottom: 30px; */
  background-color: #49836c;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card a:hover{
  background-color: #1B4242;
}

.status{
  float:right;
  background-color: #ffffff;
  color: #526d82;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.4cm;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}


#dec{
  color:#01231d;
  z-index: -1;
  /* background-image: url(images/back.jpg); */
  background: linear-gradient(45deg, #c7e2e5, #9ce2da);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
  transition: opacity 2s;
  padding:20px;
  border:1px solid #43a2a2;
  border-radius: 30px;
  margin-bottom: 20px;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],textarea,input[type="password"] {
  color: #092635;
  background-color: #fffafa;
  border: 1px solid #ccc;
  width: 70%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

input[type="text"]:hover,
input[type="email"]:hover,textarea:hover, input[type="password"]:hover{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

input[type="text"]:focus,
input[type="email"]:focus,textarea:focus{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  outline: none;
  border: 1.5px solid #092635;
}

input[type="submit"],input[type="button"],button{
  background-color: #1B4242;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
input[type="submit"]:hover, input[type="button"]:hover, button:hover {
  background-color: #092635;
}

.login-form{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 768px){
  .login-form{
    width:100%;
  }
}

select{
  color: #526d82;
  background-color: #fffafa;
  border: 1px solid #ccc;
  width: 70%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
select:hover{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
select:focus{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  outline: none;
  border: 1.5px solid #092635;
}


.apkinstaller{
  background-color: #092635;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  padding: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.loglogo{
  border-radius:100%; 
  border:2px solid #092635; 
  box-shadow:0 0 10px #092635;
}


.error-message{
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
.footer{
  font-size: 0.2cm;
  /* background: linear-gradient(to top, #8871f9, #4392f9); */
  background: linear-gradient(45deg, #0b2d46, #074445);
  /* box-shadow: 0 0 40px #4392f9; */
  box-shadow: 0 0 10px #fafafa;
  color: #fff;
  width: auto;
  padding: 5px;
  margin-top: 10vh;
  margin-bottom: -40px;
  text-align: center;
}

.footer p{
  font-size: 0.3cm;
}

.footer p:before{
  content: "© 2024 ChemEasy | All rights reserved.";
}

@media only screen and (max-width: 800px){
  .grid-view{
    margin-left: 0;
  }
  .content{
    width: auto;
  }
  .card{
    width: auto;
  }
  #dec{
    padding: 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}